@import "../../styles/variables";

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  //   overflow: hidden;
  .stars {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1; // behind everything
    pointer-events: none;
  }
  /* 3D R3F canvas */
  .r3fLayer {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    > canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5rem;
    color: var(--text-color);
    &.dark_theme {
      z-index: 10;
    }
    .left {
      position: absolute;
      max-width: 550px;
      h1 {
        font-size: 2.4rem;
        margin: 0;
        .typewriter_text {
          color: $color-primary;
          .cursor {
            display: inline-block;
            margin-left: 5px;
            width: 5px;
            animation: blink 1s step-end infinite;
          }
        }
      }
      .lead {
        margin-top: 0.8rem;
        color: var(--muted);
      }
      .actions {
        margin-top: 1.25rem;
        display: flex;
        gap: 0.75rem;
        &.dark_theme {
          position: absolute;
          z-index: 100;
        }
        > .github_icon {
          &.icon_light {
            fill: red !important; /* Changes the interior color */
            stroke: blue;
            color: #020202;
          }
          &.icon_dark {
            fill: #fff !important;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      .avatar {
        width: 60rem;
        height: 55rem;
      }
      // .profile {
      //   display: flex;
      //   justify-content: center;
      //   img {
      //     width: 20rem;
      //     height: 20rem;
      //   }
      // }
    }
  }
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column !important;
    justify-content: space-between;
  }
  .left {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    h1 {
      font-size: 1.5rem !important;
    }
    .actions {
      margin-top: 11rem !important;
    }
  }
  .right {
    .avatar {
      opacity: 0.2;
    }
  }
}
